.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #8a8888;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default {
    background-color: #24292e;
}
.btn-primary {
    color: #000;
    background-color: #00c700;
    border-color: #33a733;
}
.btn-success {
    color: #000;
    background-color: #f6871f;
    border-color: #f78a24;
}
.btn-info {
    color: #fff;
    background-color: #af0b0b;
    border-color: #af0b0b;
}
.btn-success:hover {
    color: #000;
    background-color: #ff922d;
    border-color: #f6871f;
}
.btn-info:hover {
    color: #fff;
    background-color: #e40303;
    border-color: #ac0b0b;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #000;
    background-color: #00c700;
    border-color: #008c0e;
}

.btn-primary:hover {
    color: #000;
    background-color: #00c700;
    border-color: #008c0e;
}
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
    color: #000;
    background-color: #00c700;
    border-color: #008c0e;
}

.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
    color: #000;
    background-color: #00c700;
    border-color: #008c0e;
}
.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:active.focus,
.btn-success.active:hover,
.btn-success.active:focus,
.btn-success.active.focus,
.open > .btn-success.dropdown-toggle:hover,
.open > .btn-success.dropdown-toggle:focus,
.open > .btn-success.dropdown-toggle.focus {
    color: #000;
    background-color: #ff922d;
    border-color: #f6871f;
}
.btn-info:active:hover,
.btn-info:active:focus,
.btn-info:active.focus,
.btn-info.active:hover,
.btn-info.active:focus,
.btn-info.active.focus,
.open > .btn-info.dropdown-toggle:hover,
.open > .btn-info.dropdown-toggle:focus,
.open > .btn-info.dropdown-toggle.focus {
    color: #fff;
    background-color: #af0b0b;
    border-color: #af0b0b;
}

body {
    font-family: Times New Roman, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #636b6f;
    background-color: #f5f8fa;
}
.carousel .item{
    background: #24292e;
    text-align: center;
    height: 300px !important;
}
.carousel h2{
    color: #fff;
    margin: 0;
    padding-top: 50px;
    font-size: 48px;
}
.carousel p{
    color: #666;
    font-weight: bold;
    font-size: 16px;
    margin: 30px 15% 40px;
}
.post-meta {
    /* clear: both; */
    color: #999;
    font-size: 13px;
    line-height: 21px;
    padding: 15px 0;
    margin-top: 10px;
    /* margin: -2px 0 0; */
    text-align: right;
}
.post-meta .post-meta-categories{
    padding: 0 6px 0 0;
}
.post-meta .post-meta-author {
    padding: 0 6px 0 7px;
}
.post-meta .post-meta-date {
    border-left: 1px solid #dbdbdb;
    padding: 0 6px 0 7px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #eeeeee;
    color: #555;
}

.post__title_link {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #444;
    /* font-weight: 500;
    font-size: 28px; */
    line-height: 36.4px;
    text-decoration: none;
}

.post__title_link:active {
    color: #5790ac;
    text-decoration: none;
}

.post__title_link:hover {
    color: #548eaa;
    text-decoration: none;
}
