.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #8a8888;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default {
    background-color: #24292e;
}

.panel-default > .panel-heading {
    color: #fff;
    background-color: #24292e;
    border-color: #24292e;
}

.panel-heading h2{
    color: #fff;
    margin: 0;
    padding: 18px;
    font-size: 48px;
    text-align: center;
}

.panel-heading h2{
    color: #fff;
    margin: 0;
    padding: 18px;
    font-size: 48px;
    text-align: center;
}
/*.btn-primary {*/
    /*color: #000;*/
    /*background-color: #00c700;*/
    /*border-color: #33a733;*/
/*}*/
.btn-success {
    color: #000;
    background-color: #f6871f;
    border-color: #f78a24;
}
.btn-info {
    color: #fff;
    background-color: #af0b0b;
    border-color: #af0b0b;
}
.btn-success:hover {
    color: #000;
    background-color: #ff922d;
    border-color: #f6871f;
}
.btn-info:hover {
    color: #fff;
    background-color: #e40303;
    border-color: #ac0b0b;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #000;
    background-color: #00c700;
    border-color: #008c0e;
}

/*.btn-primary:hover {
    color: #000;
    background-color: #00c700;
    border-color: #008c0e;
}
.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
    color: #000;
    background-color: #00c700;
    border-color: #008c0e;
}

.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
    color: #000;
    background-color: #00c700;
    border-color: #008c0e;
}
.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:active.focus,
.btn-success.active:hover,
.btn-success.active:focus,
.btn-success.active.focus,
.open > .btn-success.dropdown-toggle:hover,
.open > .btn-success.dropdown-toggle:focus,
.open > .btn-success.dropdown-toggle.focus {
    color: #000;
    background-color: #ff922d;
    border-color: #f6871f;
}*/
.btn-info:active:hover,
.btn-info:active:focus,
.btn-info:active.focus,
.btn-info.active:hover,
.btn-info.active:focus,
.btn-info.active.focus,
.open > .btn-info.dropdown-toggle:hover,
.open > .btn-info.dropdown-toggle:focus,
.open > .btn-info.dropdown-toggle.focus {
    color: #fff;
    background-color: #af0b0b;
    border-color: #af0b0b;
}

body {
    font-family: 'Fira Sans',sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #000000;
    background-color: #f5f8fa;
}
.carousel .item{
    background: #24292e;
    text-align: center;
    min-height: 300px;
}
.carousel h2{
    color: #fff;
    margin: 0;
    padding-top: 50px;
    font-size: 48px;
}
.carousel p{
    color: #666;
    font-weight: bold;
    font-size: 16px;
    margin: 30px 15% 10px;
}
.post-meta {
    /* clear: both; */
    color: #999;
    font-size: 13px;
    line-height: 21px;
    padding: 15px 0;
    margin-top: 10px;
    /* margin: -2px 0 0; */
    text-align: right;
}
.post-meta .post-meta-categories{
    padding: 0 6px 0 0;
}
.post-meta .post-meta-author {
    padding: 0 6px 0 7px;
}

.post-meta .post-meta-date {
    border-left: 1px solid #dbdbdb;
    padding: 0 6px 0 7px;
}

.post__title {
    margin: 0;
    margin-bottom: 9px;
}

.post__title_link {
    font-family: 'Fira Sans',sans-serif;
}

.post__title_link:visited {
    color: #24292e;
}

.post__title_link:active {
    color: #487284;
}

.post__title_link:hover {
    color: #216a94;
    text-decoration: blink;
}

.post__title_link {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #24292e;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    margin: 7px 5%;
    float: left;
}

#editor-builder #draggable-plugins .all-elements-option a, #editor-builder .languages .all-elements-option a, #forum-sort .form-submit, .add-ons-list .views-row .add_to_basket, .add-ons-list .views-row .check-details, .add-ons-list .views-row .remove_from_basket, .add-ons-list .views-row .required, .add-plugin .field-type-image-form button, .add-plugin .field-type-image-form input[name=field_addon_logo_und_0_remove_button], .add-plugin .field-type-image-form input[type=file], .add-plugin input[type=submit], .add-plugin select[type=submit], .btn--small, .most-popular__wrapper .add_to_basket, .plugin-edit .field-type-image-form button, .plugin-edit .field-type-image-form input[name=field_addon_logo_und_0_remove_button], .plugin-edit .field-type-image-form input[type=file], .plugin-edit input[type=submit], .plugin-edit select[type=submit], .plugin-release .field-type-image-form button, .plugin-release .field-type-image-form input[name=field_addon_logo_und_0_remove_button], .plugin-release .field-type-image-form input[type=file], .plugin-release input[type=submit], .plugin-release select[type=submit] {
    padding: 8px 16px;
    font-size: 1.45rem;
}

.btn-cta {
    min-width: 17.5rem;
}

.btn-primary{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    /*display:block;*/
    /*width:100px;*/
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px 16px;
    /*margin: 20px auto;*/
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}
.btn-primary {
    background-color: rgb( 43, 153, 91 );
    border: 1px solid rgb( 33, 126, 74 );
}

.btn-primary:hover {
    background-color: rgb( 75, 183, 141 );
}

.btn-success{
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    /*display:block;*/
    /*width:100px;*/
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px 16px;
    /*margin: 20px auto;*/
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -o-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear;
}
.btn-success {
    background-color: rgb(255, 146, 45);
    border: 1px solid rgb(247, 138, 36);
}

.btn-success:hover {
    background-color: rgb(247, 158, 35);
}

/* Комментарии */
.commentlist group{
    clear: both;
    margin: 0 0 2em 0;
    padding: 0;
    list-style-type: none!important;
    margin-left: 0 !important;
}
ol.commentlist, li.comment {
    clear: both;
    margin: 0 0 1em 0;
    padding: 0;
    list-style-type: none!important;
}

.comment-container {
    /*padding: 5px;*/
    border: 1px solid #CFCFCF;
    margin-bottom: 1em;
}
.comment-author {
    float: left;
    margin: 10px 10px 0 15px;
    max-width: 85px;
}
.comment-author img {
    border: 1px solid #CFCFCF;
    border-radius: 50%;
    margin: 0 0 0 5px;
}
.fn {
    font-style: normal;
    text-align: center;
    font-size: 90%;
    margin: 10px 0 0 0;
    display: block;
}
.intro {
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
}
.commentDate {
    float: left;
    margin: 0 0 0px 0;
    color: #b77a2b;
}
.comment-meta {
    margin: 0px 0 0px 120px;
    padding: 15px 20px 10px 20px;
    border-left: 1px solid #CFCFCF;
    min-height: 125px;
}
.display-comment .display-comment {
    margin-left: 40px
}
.form-control-comment{
    max-width: 150px;
}

.article {
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    border-radius: 5px;
    padding-bottom: 10px;
}

.article>img {
    border-radius: 5px 5px 0 0;
    width: 100%;
}

.article>p {
    margin: 7px 5%;
    color: #333;
}

.footer {
    margin: 7px 5%;
    color: #333;
    width: 90%;
    text-align: right;
}